@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

:root {
	--divider-color: rgba(248, 250, 252, 0.5);
}


#courses {
	grid-area: courses;
}

#calender-grid {
	grid-area: calender;
}

#footer {
	grid-area: footer;
}

#calender-grid {
	display: grid;
	grid-template-rows: 40px 100lvh;
	grid-template-columns: 40px repeat(5, 1fr);
}

.weekday-col {
	background: repeating-linear-gradient(transparent, transparent 49px, var(--divider-color) 49px, var(--divider-color) 50px);
}
